KMA_SHORT_API_KEY_ENCODE=기상청_단기예보_인코딩_인증키
KAKAO_REST_API_KEY=카카오_REST_API_KEY
GOOGLE_API_KEY=Gemini_API_KEY
GEMINI_API_KEY=Gemini_API_KEY
OPENAI_API_KEY=OpenAI_API_KEY
GOOGLE_MAPS_API_KEY=Google_Maps_API_KEY
